# Actividad de Investigacion #4: Explorando Pnadas y Web scrapingTarea
### Autor: Andres Morales Jimenez

Comprender como Pandas puede integrarse con otras bibliotecas como lxml y BeutifulSoup4 para procesar datos de la web.

In [61]:
import pandas as pd

#Se realiza el proceso de web scraping
df_web = pd.read_html('https://gee.bccr.fi.cr/IndicadoresEconomicos/Cuadros/frmConsultaTCVentanilla.aspx')

In [62]:
df_web[2]

,0,1,2,3,4,5
0,Tipo de Entidad,Entidad Autorizada,Compra,Venta,Diferencial Cambiario,Ãltima ActualizaciÃ³n
1,Bancos pÃºblicos,Banco de Costa Rica,50300,51700,1400,20/11/2024Â Â Â Â 01:23 p.m.
2,NaN,Banco Nacional de Costa Rica,50300,51700,1400,20/11/2024Â Â Â Â 04:27 p.m.
3,NaN,Banco Popular y de Desarrollo Comunal,50100,51500,1400,18/11/2024Â Â Â Â 01:29 p.m.
4,Bancos privados,Banco BAC San JosÃ© S.A.,50300,51700,1400,20/11/2024Â Â Â Â 12:57 p.m.
5,NaN,Banco BCT S.A.,50000,51800,1800,20/11/2024Â Â Â Â 05:37 p.m.
6,NaN,Banco Cathay de Costa Rica S.A.,50200,52000,1800,20/11/2024Â Â Â Â 12:41 p.m.
7,NaN,Banco CMB,49800,52200,2400,19/11/2024Â Â Â Â 09:43 a.m.
8,NaN,Banco Davivienda (Costa Rica) S.A,50000,51800,1800,20/11/2024Â Â Â Â 01:10 p.m.
9,NaN,Banco General (Costa Rica) S.A.,50100,51600,1500,20/11/2024Â Â Â Â 01:01 p.m.
10,NaN,Banco Improsa S.A.,49900,51700,1800,20/11/2024Â Â Â Â 01:18 p.m.
11,NaN,Banco Lafise S.A.,49800,51600,1800,20/11/2024Â Â Â Â 09:26 a.m.
12,NaN,Banco PromÃ©rica S.A.,49900,51700,1800,20/11/2024Â Â Â Â 05:03 p.m.
13,NaN,Banco Scotiabank de Costa Rica S.A.,49800,51600,1800,20/11/2024Â Â Â Â 01:32 p.m.
14,NaN,Prival Bank (Costa Rica) S.A,49700,51400,1700,19/11/2024Â Â Â Â 09:13 a.m.
15,Financieras,Financiera Cafsa S.A.,50100,51700,1600,20/11/2024Â Â Â Â 06:08 p.m.
16,NaN,Financiera Comeca S.A.,49700,51900,2200,20/11/2024Â Â Â Â 11:52 a.m.
17,NaN,Financiera MultiMoney S.A.,50500,51600,1100,20/11/2024Â Â Â Â 01:23 p.m.
18,Mutuales de Vivienda,Grupo Mutual Alajuela - La Vivienda de Ahorro ...,50300,51500,1200,12/11/2024Â Â Â Â 04:48 p.m.
19,NaN,Mutual Cartago de Ahorro y PrÃ©stamo,50300,51500,1200,13/11/2024Â Â Â Â 01:20 p.m.
20,Cooperativas,Coope-ANDE NÂ°1 R.L.,50300,51750,1450,20/11/2024Â Â Â Â 03:34 p.m.
21,NaN,Coopecaja R.L.,50300,51700,1400,20/11/2024Â Â Â Â 05:44 p.m.
22,NaN,Coopemep R.L.,50100,51500,1400,20/11/2024Â Â Â Â 02:16 p.m.
23,NaN,Cooperativa COOCIQUE R.L.,50600,52100,1500,20/11/2024Â Â Â Â 04:54 p.m.
24,NaN,Cooperativa Coopealianza R.L.,50100,51700,1600,20/11/2024Â Â Â Â 04:52 p.m.
25,NaN,Cooperativa CREDECOOP R.L.,50000,51800,1800,14/11/2024Â Â Â Â 04:30 p.m.
26,NaN,Cooperativa Nacional de Educadores R.L. (COOPE...,50300,51600,1300,20/11/2024Â Â Â Â 03:35 p.m.
27,NaN,Cooperativa San Marcos R.L.,50100,51400,1300,19/11/2024Â Â Â Â 09:56 a.m.
28,Casas de Cambio,Airpak Casa de Cambio,50500,52500,2000,20/11/2024Â Â Â Â 05:40 p.m.
29,NaN,ARI Casa de Cambio Internacional S.A.,50610,51233,623,20/11/2024Â Â Â Â 01:03 p.m.
30,NaN,Casa de Cambio Global Exchange,42537,59339,16802,20/11/2024Â Â Â Â 09:09 p.m.
31,NaN,Casa de Cambio Teledolar S. A.,50300,52500,2200,20/11/2024Â Â Â Â 05:23 p.m.
32,Puestos de Bolsa,"BCT Valores, Puesto De Bolsa, S.A.",50000,51800,1800,20/11/2024Â Â Â Â 05:46 p.m.
33,NaN,"BN Valores S.A., Puesto de Bolsa",50100,51500,1400,20/11/2024Â Â Â Â 11:52 a.m.
34,NaN,Mercado Valores de Costa Rica Puesto de Bolsa,49900,51700,1800,20/11/2024Â Â Â Â 12:18 p.m.
35,NaN,PB Inversiones SAMA,50000,51600,1600,20/11/2024Â Â Â Â 12:03 p.m.
36,NaN,"Popular Valores, Puesto de Bolsa",50100,51500,1400,19/11/2024Â Â Â Â 09:38 a.m.
37,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
#Importe 38 registros y 6 columnas, debo eliminar dos registros mal importados
print(df_web[2].shape)

#Guardando el dtaframe en una variable nueva
df = df_web[2].copy()
del(df_web) #Elimino el df importado

(38, 6)

In [64]:
#Imprime encabezado de df
df.head(3)

,0,1,2,3,4,5
0,Tipo de Entidad,Entidad Autorizada,Compra,Venta,Diferencial Cambiario,Ãltima ActualizaciÃ³n
1,Bancos pÃºblicos,Banco de Costa Rica,50300,51700,1400,20/11/2024Â Â Â Â 01:23 p.m.
2,NaN,Banco Nacional de Costa Rica,50300,51700,1400,20/11/2024Â Â Â Â 04:27 p.m.

In [65]:
#Imprime los titulos de la columna
df.columns

Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [66]:
#Extraer fila o
primera_fila = df.iloc[0]

#Asignar las etiquetas a las columnas
df.columns = primera_fila

#borrar fila
df.drop(0, inplace=True)

df.head()

,Tipo de Entidad,Entidad Autorizada,Compra,Venta,Diferencial Cambiario,Ãltima ActualizaciÃ³n
1,Bancos pÃºblicos,Banco de Costa Rica,50300,51700,1400,20/11/2024Â Â Â Â 01:23 p.m.
2,NaN,Banco Nacional de Costa Rica,50300,51700,1400,20/11/2024Â Â Â Â 04:27 p.m.
3,NaN,Banco Popular y de Desarrollo Comunal,50100,51500,1400,18/11/2024Â Â Â Â 01:29 p.m.
4,Bancos privados,Banco BAC San JosÃ© S.A.,50300,51700,1400,20/11/2024Â Â Â Â 12:57 p.m.
5,NaN,Banco BCT S.A.,50000,51800,1800,20/11/2024Â Â Â Â 05:37 p.m.

In [67]:
#Renombrar las columnas
df.rename(columns={'Tipo de Entidad':'Tipo','Entidad Autorizada':'Entidad','Diferencial Cambiario':'Diferencial'}, inplace=True)

df.columns

Index(['Tipo', 'Entidad', 'Compra', 'Venta', 'Diferencial',
       'Ãltima ActualizaciÃ³n'],
      dtype='object', name=0)

In [68]:
#Eliminar series con algun valor nulo
df.dropna()

,Tipo,Entidad,Compra,Venta,Diferencial,Ãltima ActualizaciÃ³n
1,Bancos pÃºblicos,Banco de Costa Rica,50300,51700,1400,20/11/2024Â Â Â Â 01:23 p.m.
4,Bancos privados,Banco BAC San JosÃ© S.A.,50300,51700,1400,20/11/2024Â Â Â Â 12:57 p.m.
15,Financieras,Financiera Cafsa S.A.,50100,51700,1600,20/11/2024Â Â Â Â 06:08 p.m.
18,Mutuales de Vivienda,Grupo Mutual Alajuela - La Vivienda de Ahorro ...,50300,51500,1200,12/11/2024Â Â Â Â 04:48 p.m.
20,Cooperativas,Coope-ANDE NÂ°1 R.L.,50300,51750,1450,20/11/2024Â Â Â Â 03:34 p.m.
28,Casas de Cambio,Airpak Casa de Cambio,50500,52500,2000,20/11/2024Â Â Â Â 05:40 p.m.
32,Puestos de Bolsa,"BCT Valores, Puesto De Bolsa, S.A.",50000,51800,1800,20/11/2024Â Â Â Â 05:46 p.m.

In [69]:
#Completa valores nulos con un valor especifico
df['Tipo'].fillna('NO VALOR').tail()

33    NO VALOR
34    NO VALOR
35    NO VALOR
36    NO VALOR
37    NO VALOR
Name: Tipo, dtype: object

In [70]:
df['Tipo'].ffill(inplace=True)

C:\Users\aland\AppData\Local\Temp\ipykernel_3396\3658825218.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Tipo'].ffill(inplace=True)

In [71]:
#Opcion1 eliminar con index
df.drop(df.tail(1).index)

#Opcion2 eliminar con dropna
df.dropna(inplace=True)

In [72]:
#Conultar la entidad con venta mal alta
tipo_venta_max = df['Venta'].max()


entidades_con_max = df[df['Venta'] == tipo_venta_max]


entidades_con_max

,Tipo,Entidad,Compra,Venta,Diferencial,Ãltima ActualizaciÃ³n
30,Casas de Cambio,Casa de Cambio Global Exchange,42537,59339,16802,20/11/2024Â Â Â Â 09:09 p.m.

In [73]:
entidades_con_max = df[df['Venta'] == tipo_venta_max]['Entidad']
entidades_con_max

30    Casa de Cambio Global Exchange
Name: Entidad, dtype: object

In [74]:

#df.loc[:5,['Entidad','Compra','Venta']]
#df.loc[:,['Entidad','Compra','Venta']]
df.loc[[1,20,13,14],['Entidad','Compra','Venta']]

0                               Entidad Compra  Venta
1                   Banco de Costa Rica  50300  51700
20                 Coope-ANDE NÂ°1 R.L.  50300  51750
13  Banco Scotiabank de Costa Rica S.A.  49800  51600
14         Prival Bank (Costa Rica) S.A  49700  51400

In [75]:
print(df.dtypes)

0
Tipo                      object
Entidad                   object
Compra                    object
Venta                     object
Diferencial               object
Ãltima ActualizaciÃ³n    object
dtype: object

In [82]:
promedio_compra = df['Compra'].astype(float).mean()
promedio_compra

np.float64(49915.194444444445)

In [83]:
#Tipado de columnas
columnas_float = ['Compra','Venta','Diferencial']
df[columnas_float] = df[columnas_float].apply(pd.to_numeric)
print(df.dtypes)

0
Tipo                      object
Entidad                   object
Compra                     int64
Venta                      int64
Diferencial                int64
Ãltima ActualizaciÃ³n    object
dtype: object

In [84]:
df.describe()

0            Compra         Venta   Diferencial
count     36.000000     36.000000     36.000000
mean   49915.194444  51928.388889   2013.194444
std     1286.518643   1298.758710   2557.630408
min    42537.000000  51233.000000    623.000000
25%    49975.000000  51575.000000   1400.000000
50%    50100.000000  51700.000000   1600.000000
75%    50300.000000  51800.000000   1800.000000
max    50610.000000  59339.000000  16802.000000

In [85]:
df.groupby('Tipo')['Venta'].describe()

,count,mean,std,min,25%,50%,75%,max
Tipo,,,,,,,,
Bancos privados,11.0,51736.363636,215.743956,51400.0,51600.00,51700.0,51800.00,52200.0
Bancos pÃºblicos,3.0,51633.333333,115.470054,51500.0,51600.00,51700.0,51700.00,51700.0
Casas de Cambio,4.0,53893.000000,3679.466175,51233.0,52183.25,52500.0,54209.75,59339.0
Cooperativas,8.0,51693.750000,211.182893,51400.0,51575.00,51700.0,51762.50,52100.0
Financieras,3.0,51733.333333,152.752523,51600.0,51650.00,51700.0,51800.00,51900.0
Mutuales de Vivienda,2.0,51500.000000,0.000000,51500.0,51500.00,51500.0,51500.00,51500.0
Puestos de Bolsa,5.0,51620.000000,130.384048,51500.0,51500.00,51600.0,51700.00,51800.0